<div class="container mx-auto">
  <app-header />
  <div class="container px-10 pt-6">
    <h1 class="text-xl font-bold">About Us</h1>
    <p class="max-w-screen-md">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis molestias
      esse aspernatur, eligendi vitae laborum ex voluptatem iusto. Qui itaque
      sequi pariatur officiis molestias nihil minima adipisci eaque veritatis
      eos.
    </p>

    <p class="inline-flex gap-1">
      Clients served so far:
      <app-counter [counterStart]="clients()" />
    </p>
    <div class="max-w-screen-lg">
      <h1 class="text-xl py-6">Our History</h1>
      <app-wave-audio audioURL="./audio/History.mp3"></app-wave-audio>
    </div>
  </div>
</div>
