<nav>
  <div class="flex flex-wrap items-center justify-between mx-auto py-4">
    <div class="flex items-center space-x-8">
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-shop"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"
          />
        </svg>
        <span class="self-center text-xl font-semibold whitespace-nowrap pl-2"
          >Tiny Commerce</span
        >
      </div>
      <ul class="flex space-x-2 sm:space-x-6">
        <li>
          <a
            routerLink=""
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block hover:underline hover:cursor-pointer"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="underline"
            class="block hover:cursor-pointer hover:underline"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/services"
            routerLinkActive="underline"
            class="block hover:cursor-pointer hover:underline"
            >Services</a
          >
        </li>
      </ul>
    </div>
    <div class="flex items-center">
      <button class="p-2 border rounded relative" (click)="toggleSideMenu()">
        <div
          class="absolute -top-2 -left-2 rounded h-5 w-5 bg-black text-white text-xs"
        >
          {{ cart().length }}
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>

<!--SHOPPING CART-->
<div
  class="fixed border-l-4 top-0 right-0 bg-red z-40 w-80 h-screen p-4 overflow-y-auto transition-transform bg-white"
  [class.translate-x-full]="sideMenuHidden()"
>
  <div class="flex justify-between items-center">
    <p class="text-xl">My Cart</p>
    <button (click)="toggleSideMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div class="mt-6">
    @if (cart().length == 0) {
      Your cart is empty.
    }
    @for (product of cart(); track product.id) {
      <app-cart-item [product]="product" [index]="$index"></app-cart-item>
    }
  </div>
  <div class="text-right font-bold mt-2">
    Cart Total: {{ cartTotal() | currency: "USD" : "symbol" : "1.2" }}
  </div>
  <button
    class="text-black bg-gray-200 font-medium rounded-lg text-lg px-5 py-2.5 my-3 w-full disabled:text-gray-500 disabled:bg-gray-50"
    [disabled]="cart().length == 0"
  >
    Continue to payment
  </button>
  @if (cart().length > 0) {
    <div class="w-full flex flex-row-reverse">
      <button class="underline font-light mt-2" (click)="clearCart()">
        Remove all items
      </button>
    </div>
  }
</div>
