<div
  class="container flex flex-col bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100"
>
  <img
    class="object-cover h-28 rounded-t-lg md:rounded-none md:rounded-s-lg"
    [src]="product().images[0]"
  />
  <div class="grow flex flex-col justify-between px-4 leading-normal">
    <div
      class="text-xl line-clamp-2 hover:line-clamp-4 font-semibold tracking-tight leading-tight text-gray-900"
    >
      {{ product().title | uppercase }}
    </div>
    <div class="self-end font-normal text-gray-700">
      {{ product().price | currency: "USD" : "symbol" : "1.2" }}
    </div>
    <button
      class="self-end pb-2 underline font-light"
      (click)="removeItem(index())"
    >
      remove
    </button>
  </div>
</div>
